<div class="row">
  <div class="col-md-3">
    <div class="panel panel-success">
      <div class="panel-heading">Manager</div>
      <div class="panel-body">
        <app-create-card></app-create-card>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-warning">
      <div class="panel-heading">Backlog
        <span class="pull-right">{{backlog.length}} tasks - {{backlogHours}} hours</span>
      </div>
      <div class="panel-body" *ngFor="let task of backlog">
        <app-card [task]="task"></app-card>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading">In progress
        <span class="pull-right">{{inprogress.length}} tasks - {{inprogressHours}} hours</span>
      </div>
      <div class="panel-body" *ngFor="let task of inprogress">
        <app-card [task]="task"></app-card>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-success">
      <div class="panel-heading">Done
        <span class="pull-right">{{done.length}} tasks - {{doneHours}} hours</span>
      </div>
      <div class="panel-body" *ngFor="let task of done">
        <app-card [task]="task"></app-card>
      </div>
    </div>
  </div>
</div>