body {
    /* background-image: url("http://allswalls.com/images/blurry-wallpaper-5.jpg"); */
}


h1 {
    color: white;
}

#backlog {
    background: #909bc0;
}

#done {
    background: #1c6e61;
}

#done h1 {
    color: white;
}

#progress {
    background: #bada7f;
}

#progress h1 {
    color: white;
}
